.header {
    min-width: 984px;
    margin-bottom: 44px;
    .title {
        line-height: 33px;
    }
}
.comment {
    margin-bottom: 6px;
}
.content {
    gap: 16px;
    .show {
        background: #f8f9fa;
    }
    .list-group {
        min-width: 320px;
    }
    .commenter-pic {
        display: block;
        width: 40px;
        height: 40px;
    }
    .card-content {
        font-size: 14px;
        line-height: 21px;
        .fm-mono {
            font-family: 'Roboto Mono', monospace;
        }
    }
    .ck-content {
        border-bottom: 0 !important;
        border-left: 0 !important;
        border-right: 0 !important;
        min-height: 263px;
    }
}

// dropdown-toggle
