.fz-12 {
    font-size: 12px;
}
.b-bottom {
    border-bottom: 1px solid #ced4da;
}
.me-32 {
    margin-right: 32px;
}
.pe-33 {
    padding-right: 33px;
}
.ps-32 {
    padding-left: 32px;
}
.pointer {
    cursor: pointer;
}
